<div class="article-detail">
  <h2 class="article-title"><%= @article.title %></h2>
  <div>
    <%= image_tag @article.image, class:"article-image" %>
</div>
  <div class="article-content">
    <%= @article.content %>
  </div>
    <%= link_to'戻る', root_path %>
</div>