
.payment-form{
  margin:0 auto;
  width:60vw;
}
.card-form{
  width: 500px;
 }
 
 .cc-form{
  display: flex;
  flex-direction: column;
 }
 
 .exp_month{
  resize:none;
 }
 
 .exp_year{
  resize:none;
 }
 
 .input-expiration-date-wrap{
  display: flex;
 }
 
 .buy-btn{ 
  margin:0 auto;
  height: 40px;
  width: 150px;
  margin-top:30px;
  margin-bottom:30px;
 }
 .button{
  margin-top: 10px;
  height: 40px;
  width: 150px;
  margin-bottom:30px;
 }
 
 .order-product-detail{
   width:60vw;
   margin: 0 auto;
 }
 .payment-info-input{
  text-align:center;
  margin-top:25px;
 }
 .info-input-headline{
  text-align:center;
  margin-top:25px;
 }
 .cart-product-info, .payment-form{
  width:40vw;
  display:flex;
  flex-direction:column;
  margin: 0 auto;
  
  
 }
 .cart-product-image{
  width:30vw;
 }

 .shipping-address-form{
  width:60vw;
  margin: 0 auto;
 }


.address-form {
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
 }