.advertisement{
  width:77vw;
  border:1px gray solid;
  margin:0 auto;
}
.ad-image{
  height:100px;
  width:100px;
  margin:0px 40px 0px 40px;

}
.product-image-size {
  height: 500px;
  width :300px;
  margin:0 auto;
  border:1px gray solid;

}
.product-image{
  width:300px;
}
.product-detail{
margin:0 auto;
display:flex;
height:70vh;

}
.show-wrap{
  height:80vh;
  border:1px solid lightgray;
  margin-top:60px;

}
.detail{
  display:flex;
  flex-direction:column
}
.price, .description, .brand, .tag {
  padding:20px;
}

.ad-content-image{
padding-top:60px;
height:40vh;
width:15vw;
}
.name {
  padding:15px;
}
margin-left

/*カート*/
.cart{
  height:70vh;
  margin-bottom:60px;
  padding: 30px 15px;
  text-align:center; 
}
.buy{
margin-right:15px;
font-family:"cursive";
color:black;
font-size:24px;
text-decoration: none;
}
.cart-content{
  padding:20px 10px;
  font-size:20px;
}
.quantity-field{
  width:45px;
}
