.cart-wrap{
  margin-top:100px;
}

.show-empty{
width:50vw;
margin:0 auto;
border:1px lightgray solid;
margin-top:300px;
margin-bottom:200px;
height:200px;
text-align:center;
padding-top:80px;

}
.cart-product-lists{
  height:70vh;
  width:50vw;
  margin-top:100px;
  margin-bottom:100px;
  overflow: scroll;
  border:1px lightgray solid;
}

.cart-product-list{
  width:70vw; 
  margin-left:150px;

}
.show-bottom{
  width:50vw; 
  margin:0 auto;

} 