.header {
  position:fixed;
  top:0;
  z-index:9999;
  margin-right:0;
}
.title{
  font-family :"cursive";
  font-size:65px;
  text-align: center;
}
.header-left{
  /*background-color:white;*/
 
}
.header-right{
  /*background-color:darkgrey;*/
  position:fixed;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  
}


.login, .signup, .logout, .user-nickname {
margin-right:15px;
font-family:"cursive";
color:black;
font-size:20px;
text-decoration: none;
}

.no-underline{
  text-decoration:none !important;
}