<div class="my-page container">
<div class="row"><h1>マイページ</h1></div>
  <div class="row">
    <div class="col-12"><p>購入履歴</p></div>
    <div class="col-12"><p><%= link_to '自分だけのギャラリーを作成する', galleries_path%></p></div>
    <div class="col-12"><p>アカウントの編集</p></div>
    <div class="col-12"><p>カートの中身をみる</p></div>
  </div>
</div>

