.no-under-line{
  text-decoration:none !important;
  color:black;
}

.news{
width:50vw;
margin:0 auto;
text-align:center; 
height:200px; 
margin-bottom:40px;
}
.article-detail {
  width:40vw;
  margin: 0 auto;
  padding:20px 0px;
}
.article-image{
  margin:0 auto;
  width:40vw;
}

.article-content{
line-height: 25px;

}
.news-list{
  margin:0 auto;
  height:200px;
  list-style: none;
  text-align:left; 
  overflow:scroll;
}

