<%= render "shared/header" %>
<div class ="container-fruid">
  <div class ="row logo-image"style="margin: 50px 0px 0px 0px"></div>
  </div>
  <div class="row">
    <div class="left-contents col-2 px-2"><%= render "sidebar" %></div>
    <div class="right-contents col-9"><%= render "main" %></div>
   </div>
   

<%= render "shared/footer" %>
